	.Header a {
    text-transform: uppercase;
}
.fondo-linear {
    width: 100%;
    height: 530px;
    /* background-color: #0e0e0e2e; */
    z-index: 1;
    position: absolute;
    background: linear-gradient(to bottom, #06060687, #401b1b00);
}	
.Header{
    height: 80px;
    padding: 10px 50px;
    z-index: 9;
    position: absolute;
    width: 100%;
}

.Header-container {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
       max-width: 1140px;
    margin: 0 auto;
}
.MenuResponsive-movil button{
		    border: 0;
    background-color: transparent;
    color: var(--color-header);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0;
}
.MenuResponsive-movil button svg{
	color: #ffffff;
}
    	.MenuResponsive-desktop ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}
.MenuResponsive-desktop ul li {
    position: relative;
    font-size: var(--font-size-main);
    padding: .4rem 1rem;
    -webkit-transition: background-color .25s,color .25s;
    transition: background-color .25s,color .25s;
}
.MenuResponsive-desktop ul li a {
    color: #ffffff;
    font-size: 14px;
}
.MenuResponsive-desktop ul li .active::after{
    content: "";
    display: block;
    width: 20px;
    text-align: center;
    background-color: #FF6611;
    height: 1px;
    position: relative;
    top: 4px;
    margin: auto;
}
.carousel-caption-home {
    position: absolute;
    right: 0px;
    top: 34%;
    left: 13%;
    z-index: 10;
    padding-top: 11px;
    padding-bottom: 20px;
    color: #ffffff;
    width: 30%;
}
.carousel-caption-home h5{
	font-size: 44px;
}

.btn-banner{
	width: 96px;
height: 40px;
border-radius: 30px;
background-color: #FF6611;
color: #ffffff;
margin-top: 20px;
}
.Header-options ul{
	padding: 0px;
	list-style: none;
	display: flex;
}
.Header-options ul li {
    padding: .4rem 1.3rem;
}
.Header-options ul li svg{
	color: #ffffff;
}
h1{
	font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 37px;
}
	.cont-text{
    position: absolute;
    top: 55px;
    width: 359px;
    left: 58px;
}

.cont-text .text-products h3{
	color: #ffffff;
	font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 32px;
}
.cont-text .text-products p{
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #ffffff;
}
.cont-text-4{
    position: absolute;
    bottom: 30px;
    left: 76px;
    width: 332px;
}
.cont-text-4 .text-products h3{
	color: #ffffff;
	font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 32px;
}
.cont-text-4 .text-products p{
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #ffffff;
}
	.price span{
		font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 24px;
color: #ffffff;
	}
	.price p{
		font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 27px;
color: #ffffff;
	}
	.price-button-products .button .button-product-shop{
		width: 96px;
height: 40px;
background-color: #FF6611;
border-radius: 30px;
text-align: center;
color: #ffffff;
	}

	.price-button-products .button {
    margin-top: 10px;
    margin-left: 14px;
}
.text-products-more{
    position: absolute;
    bottom: 22px;
    left: 44px;
}
.text-products-more h3{
	color: #ffffff;
	font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 32px;
}
.text-products-more p{
	color: #ffffff;
	font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
}
	.product-sneakers{
    height: 558px;
	}
	.spring-cont{
		height: 670px;
	}
	.spring{
		height: 671px;
	}
.spring-preview{
		background: url(../img/fondo-5.png);
		background-size: cover;
	}
	.spring-preview-2{
		background: url(../img/fondo-6.png);
		background-size: cover;
	}
	.btn-collection{
    width: 140px;
    height: 40px;
    background-color: #FF6611;
    color: #ffffff;
    border-radius: 1.25rem;
    
}
.cont-button{
    position: absolute;
    width: 22%;
    margin: auto;
    bottom: 8%;
    left: 40%;
}
.spring-preview .cont-info h3{
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 36px;
	color: #ffffff;
}
.spring-preview .cont-info{
    position: relative;
    top: 39%;
    width: 79%;
    margin: auto;
}
.spring-preview .cont-info p{
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	margin-top: 25px;
	color: #ffffff;
}
	.cont-img {
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%;
    right: -12px;
}
.redes-sociales{
    list-style: none;
    padding: 0px;
    display: flex;
    width: 77%;
    margin: auto;
}
.redes-sociales li{
	margin-right: 5px;
}
.redes-sociales img{
    width: 27px !important;
}
	.contain{
		width: 100%;
		height: 510px;
		display: flex;
	}
	 .contain1{
	 	width: 12%;
	 	background: #FF6611;
	 }
	 .contain2{
	 	width: 33%;
	 }
	 .contain2 img {
    position: relative;
    left: -34px;
    top: 39px;
}
	 .contain3{
	 	background: #FF6611;
	 	width: 55%;
	 }
	 .title-contain3{
    width: 59%;
    /* margin: auto; */
    position: relative;
    top: 288px;
    left: 85px;
}
	 .contain3 .title-contain3 h2{
	 	font-style: normal;
	 	color: #ffffff;
font-weight: bold;
font-size: 80px;
line-height: 88px;
	 }
	 .input-suscribe{
		width: 254px;
		height: 40px;
left: 709px;
top: 4271px;

background: #F7F7F7;
border-radius: 30px;
	}
	.btn-suscribe{
		width: 113.6px;
height: 40px;
left: 976px;
top: 4271px;
border-radius: 30px;
background-color: #FF6611;
color: #ffffff;
	}

	/**/
	.info-rolly{
		color: #ffffff;
	}
	.info-rolly ul{
		padding: 0px;
		list-style: none;
	}
	.info-rolly p{
		margin-bottom: 5px;
	}
	.info-rolly .year{
		margin-top: 30px;
	}
	.links-rolly h4{
		color: rgba(255, 255, 255, 0.8);
		font-weight: normal;
		line-height: 18px;
		font-size: 16px;
		margin-bottom: 30px;
	}
	.info-rolly .metodo-pago{
		margin-top: 30px;
	display: flex;
	}
	.info-rolly .metodo-pago li{
		width: 60px;
	}
	.info-rolly .metodo-pago li a svg{
    color: #ffffff;
    font-size: 28px;
}
	.links-rolly ul li a{
		color: rgba(255, 255, 255, 0.8);
		font-weight: normal;
		line-height: 18px;
		font-size: 16px;
	}
	.redes-rolly ul{
		display: flex;
	}
	.redes-rolly ul li{
		width: 60px;
	}
	.redes-rolly ul li svg{
		color: #ffffff;
	}	







/* MEDIA */

@media (max-width: 1200px) {

}

@media (max-width: 1080px) {

}

@media (max-width: 960px) {
 
}

@media (max-width: 768px) {

}
@media (max-width: 540px) {

}
@media (max-width: 480px) {
 .info-rolly .year{
 	display: none;
 }
 .info-rolly{
 	text-align: center;
 }
 .redes-rolly ul {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0px;
}
.info-rolly .metodo-pago {
    margin-top: 30px;
    display: flex;
    width: 59%;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
    }
    .info-rolly .metodo-pago li {
    width: 89px;
}
.form-touch{
	text-align: center;
}
.btn-suscribe{
	width: 254px;
	margin-top: 20px;
}
h1{
	    font-size: 30px;
}
.contain {
    height: 400px;
}
.contain2 img {
    width: 347px;
}
.contain3 .title-contain3 h2 {
    font-style: normal;
    color: #ffffff;
    font-weight: bold;
    font-size: 35px;
    line-height: 43px;
}
.title-contain3 {
    width: 97%;
    /* margin: auto; */
    position: relative;
    top: 177px;
    left: 1px;
}
}
@media (max-width: 360px) {
.contain {
    height: 361px;
}
.contain2 img {
    width: 295px;
}
.contain3 .title-contain3 h2 {

    font-size: 32px;
    line-height: 43px;
}
.title-contain3 {
    width: 97%;
    /* margin: auto; */
    position: relative;
    top: 177px;
    left: 1px;
}
.product-pants{
	height: 220px;
}
.product-pants img{
	height: 100%;
}
.product-sneakers {
 margin-top: 25px;
    height: 260px;
}
.cont-text {
    position: absolute;
    top: 60px;
    width: 275px;
    left: 32px;
}
.cont-text .text-products p {
    font-size: 12px;
    line-height: 17px;
}
.text-products-more {
    bottom: -5px;
    left: 25px;
}
.cont-text-4 {
    bottom: 30px;
    left: 30px;
    width: 284px;
}
.cont-text-4 .text-products p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    }
    .carousel-caption-home{
    text-align: center;
    top: 26%;
    width: 80%;
}
.carousel-caption-home h5 {
    font-size: 27px;
}
.carousel-caption-home p{
	font-size: 14px;
}
.spring-cont {
    height: 100%;
}
.spring{
		height: 100%;
	}
.spring-preview{
	height: 400px
}
.spring-preview-2{
	height: 400px
}
.spring-preview .cont-info {
    top: 19%;
    }
    .spring-preview .cont-info h3 {
 
    font-size: 27px;
}
.cont-button {
    width: 100%;
    left: 0%;
}
.Header {
    padding: 10px 10px;
    }
    .Header-options ul li {
    padding: 0px 8px;
}
.Header-logo img {
    width: 50%;
    margin-left: 30px;
}

/**/
.banner {
	height: 510px;
    position: relative;
}
}